<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="card-body">
      <div class="field mb-3">
        <div class="field">
          <%= form.hidden_field :sender_id %>
          <%= form.hidden_field :sender_id, :value => params[:sender_id] %>
        </div>

        <div class="field">
          <%= form.hidden_field :receiver_id %>
          <%= form.hidden_field :receiver_id, :value => params[:receiver_id]  %>
        </div>

        <div class="field">
          <%= form.hidden_field :product_id %>
          <%= form.hidden_field :product_id, :value => params[:product_id]  %>
        </div>

        <div class="field">
          <%= form.label :content %>
          <%= form.text_area :content, { class: "form-control", rows: "5" } %>
        </div>
        
        <div class="actions">
          <%= form.submit %>
        </div>

      </div>
    </div>
  </div>
<% end %>