<h1>Received Messages</h1>
<% current_user.receiver_messages.reverse_each do |message| %>
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to message.sender.username, message_path(message) %></h5>
          <p class="card-text"><%= message.content %></p>
          <p class="card-text"><%= link_to 'Delete Message', message, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words message.created_at %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h1>Sent Messages</h1>
<% current_user.sender_messages.reverse_each do |message| %>
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to message.sender.username, message_path(message) %></h5>
          <p class="card-text"><%= message.content %></p>
          <p class="card-text"><%= link_to 'Delete Message', message, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words message.created_at %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
