<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="card-body">
      <div class="field mb-3">
        <%= form.label :subcategory_id, { class: "form-label"} %>
        <%= form.select :subcategory_id, Subcategory.all.collect {|s| [ s.name, s.id ] } %>
      </div>

      <div class="field mb-3">
        <%= form.label :title, { class: "form-label"} %>
        <%= form.text_field :title, { class: "form-control"} %>
      </div>

      <div class="field mb-3">
        <%= form.label :description, { class: "form-label"} %>
        <%= form.text_area :description, { class: "form-control", rows: "5" } %>
      </div>

      <div class="field mb-3">
        <%= form.label :price, { class: "form-label"} %>
        <%= form.text_field :price, { class: "form-control", rows: "5"} %>
      </div>

      <div class="field mb-3">
        <%= form.label :image, { class: "form-label"} %>
        <%= form.file_field :image, accept: "image/jpg, image/png, image/jpeg" %>
      </div>

      <div class="field mb-3">
        <%= form.label :used, { class: "form-label"} %>
        <%= form.check_box :used %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>

<br>
